*{
    margin: 0;
    padding: 0.1rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif,'Hind', sans-serif;
    
    
    
    }

    @import url('https://fonts.googleapis.com/css?family=Hind');

.items{
  box-shadow:  0 4px 8px 0;
  background-color: white;
  justify-content: left;
  display: flex;
  align-items: left;
  height: auto;
  
  
}
html{
  /* background-color: #fb7834; */
}


.caption{
     
  
  
  
}

.fry{
    font-size: 42px;
    float: left;
    align-content: center;

}

.mugshot{
    float: left;
    /* width: 228px; */
    width: 25%;
    padding: 5px;
}

.content{
  width: 99%;
  /* border: 1px solid black; */
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: #fb7834; */
  flex: wrap;
  flex-direction: center;
  align-items: center;
  display: grid;
  
 
}
.screenshots{
  
  width: 50%;
}



@media all and (min-width: 200px){
  .content{
    width: 100%;
  }
  
  @media all and (min-width: 200px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .techstackused{
    font-size: 11px;
  }
.bio{
  width: 99%;
  /* border: 1px solid black; */
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  float: left;
  /* box-shadow:  0 4px 8px 0; */
  font-family: 'Hind', sans-serif;
 
}

.heroimg {
  width: auto;
}
 

    .contentbox{
  width: 99%;
  border: 1px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  float: left;
  /* box-shadow:  0 4px 8px 0; */
 
}
.content{
  width: 99%;
  border: 1px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  float: left;
  /* box-shadow:  0 4px 8px 0; */
 
}
    
    .container{
      flex-direction: column
        ;
       border: 1px solid black;
     background-color: white;
     justify-content: center;
     display: flex;
    align-items: left;
    height: auto;
      box-shadow:  0 4px 8px 0;
      width: 99%
        
      
       
      
    }
    
   

   .grid{
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
  }

    .itemimg{ 
     width: 99%;
      align-items: center;
      
      
      text-align: center;
      display: inline-block;
      

      
      
    }
    .flex{
        margin-left: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        justify-content: left;
        padding: 11px;
        align-items: left;
        border: 1px solid black;
        width: 99%;
    }
      .herotext{
        position: absolute;
        align-self: center;
        top: 50%;
        left: 50%;
        flex: wrap;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        text-align: center;
        

        

      }

     
      
    
    
    
    }
    .flexheaders{
    background-color: white;
    color:black;
    
    
    }
    .flex:first-child{
        margin: 0;
    }
    
    html{
        font-family: 'proximanova','Helvetica Neue', Helvetica, Arial,sans-serif;
    }
    
    .logo{
        margin-left: 0rem;
        max-width: 100%;
        /* background-image: url('.images/friesorange.png'); */
        
    
      }

     .logo:hover {
      background: #404d6f;

        
      }

      p, .techstackused{
        font-family: 'Hind', sans-serif;
      
      }
      
      header{
        display: flex;
        width: 100%;
        align-items: center;
        position: fixed;
        /* background-color: black; */
       background-color: #fb7834;
        color: white;
        height: 65px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,         0, 0, 0.19);
        opacity: 1;
        z-index: 10;
        
      }
           footer{
              /* display: flex; */
              background: #fb7834;
              color: white;
              font-family: sans-serif;
              font-style: bold;
              font-size: .75rem;
              max-width: 100%;
              position: relative;
           
          }
    
    .headernav{
        float: right;
        
    
    }

    .nav_buttons{
      font-weight: bold;
    }
     main{
         margin-top: 65px;
     }
    header img{
         float: left;
        max-width: 100%;
        
    }
    
    .mainphoto{
        width: 100%;
    }
    
    
    figcaption{
        font-size: .75rem;
    
    }
    
    .clearfix{
        clear: both;
        content: '';
        display: inline-block;
        align-items: center;
    }
       
        
        

         
    
    
    nav{
        
        float: right;
    
    
    }
    
    a {
        text-decoration: none;
      }
      
      nav {
          font-family: sans-serif;
          
      }
      
      ul {
        /* background: black; */
        background: #fb7834;
          list-style: none;
          margin: 0;
          padding-left: 0;
      }
      
      li {
          color: #fff;
        /* background: black; */
        background: #fb7834;
          display: block;
          float: left;
          padding: 1rem;
          position: relative;
          text-decoration: none;
        transition-duration: 0.5s;
      }
        
      li a {
        color: #fff;
      }
      
      li:hover,
      li:focus-within {
        background: #404d6f;
        color: #fb7834;
          cursor: pointer;
          font-style: bold;
      }
      
      li:focus-within a {
        outline: none;
      }
      
      ul li ul {
          background: #fb7834;
          visibility: hidden;
        opacity: 0;
        min-width: 5rem;
          position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
          left: 0;
        display: none;
      }
      
      ul li:hover > ul,
      ul li:focus-within > ul,
      ul li ul:hover,
      ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
        color: #fb7834;
      }
      
      ul li ul li {
          clear: both;
        width: 100%;
      }


      /*carousel shit*/
      * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: 5;
}

/* Caption text */
h2 span{
  color: #f2f2f2;
  font-size: 25px;
  position: absolute;
  top: 200px;
  left:0;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   flex: wrap;

}

h3 span{
  color: #f2f2f2;
  font-size: 25px;
  position: absolute;
  top: 310px;
  left:0;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   flex: wrap;
   
}

.carouseimg {
  width: auto;
  
  max-width: 1000px;
  
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */
