*{
margin: 0;
padding: 0.1rem;
box-sizing: border-box;


}
.container{
    margin: 0 auto;
    width: 1000px;
}

html{
    font-family: sans-serif;
}



header{
    width: 100%;
    float: center;
    position: fixed;
    background-color: black;
    
}
 main{
     margin-top: 100px;
 }
header img{
    float: left;
    max-width: 50%;
    
}

.mainphoto{
    width: 100%
}

header nav{
    float: right;
    
}

.clearfix{
    clear: both;
    content: '';
    display: inline-block;
}
footer {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-style: bold;
    font-size: .75rem;
    max-width: 100%

}
.socialicons{
    
    max-width: 100%;
}
