header{
    width: 100%;
    float: center;
}
header img{
    float: left;
}

header nav{
    float: right;
}

.clearfix{
    clear: both;
    content: '';
    display: inline-block;
}
footer p{
    text-align: center;
    
}
