*{
    margin: 0;
    padding: 0.1rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
    }

.items{
  box-shadow:  0 4px 8px 0;
  background-color: white;
  justify-content: left;
  display: flex;
  align-items: left;
  height: auto;
  
  
}
html{
  background-color: #bb0000;
}


.caption{
     
  
  
  
}

.fry{
    font-size: 42px;
    float: left;
    align-content: center;

}

.mugshot{
    float: left;
    
    padding: 5px;
}

.content{
  width: 99%;
  /* border: 1px solid black; */
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #bb0000;
  flex: wrap;
  flex-direction: center;
  align-items: center;
  display: grid;
  
 
}
.screenshots{
  
  width: 75%;
}



@media all and (min-width: 200px){
  .content{
    width: 100%;
  }
  
  @media all and (min-width: 200px){
  .grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .techstackused{
    font-size: 11px;
  }
.bio{
  width: 99%;
  border: 1px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  float: right;
  box-shadow:  0 4px 8px 0;
  font-family: 'Montserrat', sans-serif;
 
}
    .contentbox{
  width: 99%;
  border: 1px solid black;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  float: right;
  box-shadow:  0 4px 8px 0;
 
}
    
    .container{
      flex-direction: column
        ;
       border: 1px solid black;
     background-color: white;
     justify-content: center;
     display: flex;
    align-items: left;
    height: auto;
      box-shadow:  0 4px 8px 0;
      width: 99%
        
      
       
      
    }
    
   

   .grid{
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: min-content;
    grid-gap: 10px;
  }

    .item img{ 
     width: 99%;
      align-items: center;
      box-shadow:  0 4px 8px 0;
      background-color: black;
      text-align: center;
      
      

      
      
    }
    .flex{
        margin-left: 1px;
        margin-top: 1px;
        margin-bottom: 1px;
        justify-content: left;
        padding: 11px;
        align-items: left;
        border: 1px solid black;
    }
      .herotext{
        position: absolute;
        align-self: center;
        top: 50%;
        left: 50%;
        flex: wrap;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        text-align: center;
        

        

      }

     
      
    
    
    
    }
    .flexheaders{
    background-color: white;
    color:black;
    
    
    }
    .flex:first-child{
        margin: 0;
    }
    
    html{
        font-family: 'proximanova','Helvetica Neue', Helvetica, Arial,sans-serif;
    }
    
    .logo{
        margin-left: 0rem;
        max-width: 100%;
        
    
      }
      
      
      
      header{
        display: flex;
        width: 100%;
        align-items: center;
        position: fixed;
        background-color: black;
        color: white;
        height: 65px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,         0, 0, 0.19);
        opacity: .90
        
        
      }
          footer {
              /* display: flex; */
              background-color: black;
              color: white;
              font-family: sans-serif;
              font-style: bold;
              font-size: .75rem;
              max-width: 100%;
              position: relative;
           
          }
    
    .headernav{
        float: right;
        
    
    }
     main{
         margin-top: 65px;
     }
    header img{
         float: left;
        max-width: 100%;
        
    }
    
    .mainphoto{
        width: 100%;
    }
    
    header nav{
       
        
    }
    figcaption{
        font-size: .75rem;
    
    }
    
    .clearfix{
        clear: both;
        content: '';
        display: inline-block;
        align-items: center;
    }
       
        
        

         
    
    
    nav{
        
        float: right;
    
    
    }
    
    a {
        text-decoration: none;
      }
      
      nav {
          font-family: sans-serif;
          
      }
      
      ul {
        background: black;
          list-style: none;
          margin: 0;
          padding-left: 0;
      }
      
      li {
          color: #fff;
        background: black;
          display: block;
          float: left;
          padding: 1rem;
          position: relative;
          text-decoration: none;
        transition-duration: 0.5s;
      }
        
      li a {
        color: #fff;
      }
      
      li:hover,
      li:focus-within {
          background: gray;
          cursor: pointer;
          font-style: bold;
      }
      
      li:focus-within a {
        outline: none;
      }
      
      ul li ul {
          background: black;
          visibility: hidden;
        opacity: 0;
        min-width: 5rem;
          position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
          left: 0;
        display: none;
      }
      
      ul li:hover > ul,
      ul li:focus-within > ul,
      ul li ul:hover,
      ul li ul:focus {
        visibility: visible;
        opacity: 1;
        display: block
      }
      
      ul li ul li {
          clear: both;
        width: 100%;
      }