body div {
  font-family: Sans-serif;
  color: black;
}

#win {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(0, 128, 131);
}

#taskbar {
  height: 26px;
  background-color: rgb(192, 192, 192);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: ridge 2px white;
  overflow-x: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

#start {
  background-size: 17px 15px;
  text-align: right;
  font-weight: bolder;
  font-size: 12px;
  float: left;
  width: 52px;
  height: 21px;
  display: inline-block;
  padding: 1px 2px;
  margin-left: 2px;
  cursor: default;
  user-select: none;
}

#startMenu {
  /* top: -238px; */
  left: 2px;
  height: 240px;
  width: 164px;
  background-color: rgb(192, 192, 192);
  position: fixed;
  display: block;
  border-top: ridge 3px white;
  border-left: ridge 3px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px grey;
  bottom: 30px;
}

#startMenu #left {
  width: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgb(128, 128, 128);
  font-family: Arial;
  font-weight: 900;
  text-transform: capitalize;
}

#startMenu .menuItem {
  color: black;
  height: 32px;
  width: 134px;
  margin-left: 24px;
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: central;
}

.dropdown-content {
  visibility: hidden;
  display: block;
  position: absolute;
  background-color: rgb(192, 192, 192);
  min-width: 260px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-top: ridge 3px white;
  border-left: ridge 3px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px grey;
  margin-left: 139px;
}

.menuItem:hover {
  background-color: rgb(0, 0, 128);
  color: white;
  cursor: pointer;
}

.menuItemDrop:hover {
  background-color: rgb(0, 0, 128);
  color: white;
  cursor: pointer;
}
.menuItemDrop {
  padding: 2px;
}
.projects:hover .dropdown-content {
  cursor: pointer;
  visibility: visible;
}

#startMenu .expander:after {
  float: right;
  margin-right: 5px;
}

#startMenu .menuItem:first-letter {
  text-decoration: underline;
}

#startMenu #shutdown:first-letter {
  text-decoration: none;
}

#startMenu #left .b {
  color: rgb(192, 192, 192);
  transform: rotateZ(-90deg);
  transform-origin: center left;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  font-size: 20px;
  margin-top: 215px;
  margin-left: 10px;
}

#startMenu #left .num95 {
  font-weight: 100 !important;
  color: white;
}

.startRest {
  /* border-top: ridge 2px white;
  border-left: ridge 2px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px black; */
}

.startClick {
  border-top: inset 2px black;
  border-left: inset 2px black;
  border-bottom: inset 2px white;
  border-right: inset 2px white;
}

#notifications {
  margin-right: 2px;
  border-top: inset 2px grey;
  border-left: inset 2px grey;
  border-bottom: inset 2px white;
  border-right: inset 2px white;
  /* padding-top: 17px; */
  display: inline-block;
  float: right;
  width: 52px;
  height: 21px;
  bottom: 0px;
}

#desktop {
  height: calc(100% - 26px);
  background-color: transparent;
  width: 100%;
  padding: 10px;
}

#clock {
  display: inline-block;
  float: right;
  margin-top: -13px;
  font-size: 8px;
}

.desktopIcon {
  margin: 2px 7px;
  display: block;
  height: 68px;
  width: 50px;
  text-align: center;
  vertical-align: bottom;
  font-size: 10px;
  color: white;
  padding: 5px;
}

.frycon {
  max-width: 50px;
}

#mycomputer {
  background-color: transparent;
}

.divider {
  height: 1px;
  border-top: ridge 1px white;
  border-bottom: ridge 1px grey;
  margin: 2px;
}

#arrow {
  padding-left: 10px;
}

#app-ie {
  display: inline-block;
  background-color: grey;
  width: 700px;
  height: 250px;
  margin-left: 100px;
  overflow: hidden;
  background-color: rgb(192, 192, 192);
  border-top: ridge 3px white;
  border-left: ridge 3px white;
  border-bottom: ridge 2px black;
  border-right: ridge 2px grey;
}

.menuTitleBar {
  font-size: 14px;
  background-color: blue;
  color: white;
  width: 100%;
  overflow: hidden;
  top: 0;
}

.content {
  background-color: white;
  border-bottom: ridge 3px white;
  border-right: ridge 3px white;
  border-top: ridge 2px black;
  border-left: ridge 2px grey;
}

.menuTitleBarContainer {
  height: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 4px;
  width: 100%;
  background-color: blue;
  color: white;
  padding-bottom: 5px;
}
.addressBar {
  width: 100%;
  border-bottom: ridge 3px white;
  border-right: ridge 3px white;
  border-top: ridge 2px black;
  border-left: ridge 2px grey;
}

.menu {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

.titleBarIcon {
  max-width: 20px;
}

.address-label {
  font-size: 12px;
}
